.text_vg {
  width: 30%;
  text-align: justify;
  font-size: 0.85em;
}
.text_vg_h1 {
  font-size: 2em;
}
.bt_2nd {
  margin-left: 30%;
}

#vrijwiligers {
  font-family: "Roboto", sans-serif;
}
#vrijwiligers section {
  /* height: 100%; */
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
}

#vrijwiligers form p {
  margin: 0;
  font-weight: 400;
}
#vrijwiligers img {
  width: 25%;
}

.div_form {
  width: 25%;
  margin: 0 0 0 10%;
}

#vrijwiligers form {
  width: 100%;
  margin-top: 10%;
}

#vrijwiligers a {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 15%;
}

#vrijwilligers form {
  display: none;
}

#signup,
#login {
  display: none;
}

form#signup:target {
  display: block;
}

form#login:target {
  display: block;
}

#vrijwiligers form input {
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: 1px lightgray solid;
  margin-bottom: 20px;
}

#vrijwiligers form input[type="radio"] {
  width: 4%;
  margin-bottom: 0;
}

#vrijwiligers form label {
  color: #0098d7;
  font-size: 0.5em;
}

#vrijwiligers form input[type="submit"] {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #0098d7;
}

#vrijwiligers section {
  display: flex;
  box-sizing: border-box;
  /* height: unset; */

  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 765px) {
  #vrijwiligers img {
    display: none;
  }

  .text_vg {
    width: 100%;
    margin-top: 50px;
  }

  .div_form {
    width: 100%;
    margin: 0;
  }
}
